.navbar-header .navbar-brand h3{
	text-shadow: 0px 0px 5px rgba(0,0,0, .5);
	color: #5a68a5;
	font-family: times new roman; 
	font-weight: bold; 
	font-size: 50px;
}

@media( max-width: 780px ){
	.navbar-header .navbar-brand{
		width: 100%;
		text-align: center;
		margin: 0;
		padding: 0;
	}
}

button.navbar-toggle{
	border-radius: 0;
	background-color: transparent;
	border: none;
}

.navbar-header button.navbar-toggle:hover{
	background-color: transparent;
}

.navbar-header button.navbar-toggle:focus{
	background-color: transparent;
}

#navbarm .navbar-nav .active a{
	background-color: #5a68a5;
	font-size: 24px;
}

#navbarm .navbar-nav .dropdown .dropdown-toggle:hover,
#navbarm .navbar-nav .dropdown .dropdown-toggle:focus,
#navbarm .navbar-nav .dropdown:hover .dropdown-toggle{
	background-color: #5a68a5;
}

ul.menubar{
	border-top:2px solid #5a68a5;
	margin:0
}

ul.menubar li a.current{
	color:#fff;
	border:0;
	cursor:default;
	margin:0;
	background-color:#5a68a5; 
	/*border-top: 1px solid #f9f9f9; */
	/*border-bottom: 1px solid #f9f9f9;*/
}

ul.menubar li a:hover{
	background:#5a68a5; 
	color:#fff;
	text-decoration: none;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
	background-color: #f5f5f5;
}

/*home*/
.isi{
	background-color: #fff;
	margin: 10px;
	box-shadow: 0 0 3px rgba(0,0,0,.25);
	border-radius: 2px;
	transition: 1s;
	cursor: pointer;
	min-height: 200px;
	padding: 15px;
}
/*akhir home*/

.iklan{
	min-height: 100px;
	margin: 20px auto;
}

.contoh-dokumen{	
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 40px auto;
	padding: 20px;
}

@media(max-width: 600px){
	h1.atribut{
		font-size: 16px;
		font-weight: bold;
	}
}

.sempit{
	padding:0; 
	padding-top: 15px; 
	padding-left: 10px;
}

.contoh-dokumen span{
	font-size: 16px;
	letter-spacing: .3px;
	word-spacing: 5px;
	line-height: 25px;
}
.sub-heading{margin-bottom: 30px;}

.p-content, #ul-content{
	font-size: 16px;
	word-spacing: 5px;
	padding-bottom: 10px;
}

.tag{
	color: red; 
	font-weight: bold;
}

.properti{
	color: #5a68a5; 
	/*font-weight: bold;*/
}

.nbsp{
	margin-left: 30px;
}

.p-bold{font-weight: bold;}

.p-italic{font-style: italic;}

.btn-prev{
	background-color: #fff;
	border-radius: 0;
	transition: .3s;
}

.btn-prev:hover{
	box-shadow: 0 3px 8px rgba(0,0,0, .25);
}
		
.btn-next{
	float: right;
	background-color: #5a68a5;
	border: 1px solid #5a68a5;
	border-radius: 0;
	color: #fff;
	transition: .3s;
}

.btn-next:hover{
	box-shadow: 0 3px 8px rgba(0,0,0, .25);
	background-color: #fff;
	color: #000;
	border: 1px solid #ddd;
}

.clear{clear: both;}
footer{background-color: #000;}
footer p{font-size: 14px; padding: 10px;}
footer p a:hover{color: #fff;}
footer span{float: right;}
.about, .contact{
	color: #ccc;
	margin: 10px;
}

.about:hover, .contact:hover{
	color: #fff;
}
@media(max-width: 800px){
	footer span{float: none;}
}

.boxbg .hello{
	border: 1px solid #ddd;
}